.DS_Store

node_modules

.env
*.env
.env.*

.vscode
.npmrc
.netlify
.firebase
.nova
.unlighthouse
.vercel
.wrangler

start*.sh
build*.sh
testbuild*.sh
push*.sh
myip.txt
git*.sh
move*.sh

.former*
_z

pnpm-help*.*
